$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,700';
// fontbase import


// BEGIN: defaulfs
body{
  background: rgb(246, 246, 246);
}

h1, h2, h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Hind Madurai', sans-serif;
}

.pagination {
  width: 100%;
  ul {
    padding: 0;
    margin: 20px 0;
    display: block;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 5px 5px;
      border: 1px solid #c3c3c3;
      font-size: 18px;
      a {
        color: #191a1b;
        min-width: 40px;
        line-height: 40px;
        padding: 10px 15px;
        &:hover {
          transition: 0.6s;
          background: rgba(0,0,0,0.7);
          color: #fff;
          text-decoration: none;
        }
      }
      &.back-page {
        display: block;
        a {
          width: 100%;
          display: block;
          padding: 0px;
        }
        @media (min-width: 768px) {
          display: inline-block;
          a {
            display: inline-block;
            padding: 0 20px;
          }
        }
      }
      &.current-page {
        background: rgba(0,0,0,1);
        border: 1px solid #000;
        a {
          color: #fff;
        }
      }
      &.next-page{
        display: block;
        a{
          width: 100%;
          display: block;
          padding: 0px;
        }
        @media (min-width: 768px) {
          display: inline-block;
          a {
            display: inline-block;
            padding: 0 20px;
          }
        }
      }
    }
  }
} // END: defaulfs

// BEGIN: header
header {
  height: 500px;
  background: url(../images/background-fosco.jpg);
  background-size: auto 500px;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;

  .parallax-back {
    width: 100%;
    height: 800px;
    background: url(../images/p-back.png);
    background-size: auto 500px;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    z-index: 99;
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    top: 70px;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .parallax-front {
    width: 100%;
    height: 800px;
    background: url(../images/p-front.png);
    background-size: auto 500px;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    z-index: 1000;
  }

}// END: header


// BEGIN: loader
.loader {
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 99999;

  @keyframes dash {
  	to {
  		stroke-dashoffset: 0;
  	}
  }
  svg{
    margin-top: 100px;
    @media (min-width: 768px) {
      margin-top: -150px;
    }
    @media (min-width: 992px) {
      margin-top: -250px;
    }
    @media (min-width: 1200px) {
      margin-top: -350px;
    }

    .loader-svg-animate{
      stroke-dasharray: 1000;
    	stroke-dashoffset: 1000;
    	animation: dash 4s linear forwards infinite;
    	animation-delay: 0s;
    }
  }

}//END: loader

// BEGIN: main Page
.page-main {
  background: rgb(246, 246, 246);
  min-height: 100vh;

  // BEGIN: content-shot
  .content-shot {
    min-height: 250px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    &:hover {
      transition: 0.6s;
      -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
      -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
      box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
    }

    img {
      margin: 0 auto;
    }

    // BEGIN: shot-description
    .shot-description {
      height: 0;
      background: rgba(38, 35, 52, 0.8);
      color: #fff;
      padding: 0 15px 15px 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      &.show-animate {
        transition: 1s;
        height: 100%;
        opacity: 1;
      }

      h3 {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 25px;
        position: relative;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        padding-bottom: 10px;
      }
      // BEGIN: shot-info
      .shot-infos{
        display: block;
        position: relative;
        width: 100%;

        strong {
          font-size: 17px;
          font-weight: 400;
          padding: 10px 5px;

          .glyphicon {
            margin-right: 5px;
          }
        }

        .btn-info {
          display: block;
          background: rgba(255,255,255,0.1);
          margin-top: 35px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid #fff;
          font-size: 17px;
        }

      }// END: shot-info

    }// END: shot-description

  }// END: content-shot

}// END: Main Page

// BEGIN: Modal
.modal-dialog {
  @media (min-width: 768px){
    width: 800px;
  }

  .modal-body {
    .shot-infos {
      text-align: right;
      position: relative;
      font-size: 20px;
      background: rgba(255, 255, 255, 0.7);
      top: -35px;
      padding: 5px 10px;
      color: rgb(56, 56, 56);
      margin-bottom: -40px;
      strong {
        margin-left: 10px;
        .glyphicon {
          margin-right: 5px;
        }
      }
    }

    .user-content {
      .user-avatar {
        width: 90px;
        display: block;
        margin: 20px auto;
      }
      .user-infos {
        background: #f8f8f8;
        padding: 0px 15px 15px;
        border-radius: 10px;
        &:after{
          bottom: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: rgba(136, 183, 213, 0);
        	border-bottom-color: rgb(242, 242, 242);
        	border-width: 20px;
        	margin-left: -20px;
          margin-top: 20px;

          @media (min-width: 768px){
            bottom: auto;
          	left: auto;
            right: 100%;
          	top: 40%;
          	border: solid transparent;
          	pointer-events: none;
          	border-color: rgba(242, 242, 242, 0);
          	border-right-color:  rgb(242, 242, 242);
          	border-width: 20px;
          	margin-top: -30px;
          }
        }
        ul {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            text-align: center;
            margin: 0 10px;
            a {
              display: block;
              font-size: 30px;
              color: #000;
              opacity: 0.7;
              &:hover{
                transition: 0.6s;
                opacity: 0.9;
              }

              img{
                margin-top: -10px;
              }
            }
          }
        }

        .btn {
          background: none;
          margin: 15px;
          display: block;
          &:hover{
            background: #fff;
          }
        }

      }
    }
  }

  .modal-header {
    padding: 0px 15px;
    .close {
      font-size: 50px;

      &:hover{
        transition: 0.6s;
        color: #000;
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
      }
    }
  }
}// END: Modal

footer {
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 40px 0px;
  text-align: right;
  text-decoration: underline;
}
