$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,700';
// fontbase import


// == Default
body{
  background: rgb(246, 246, 246);
}

h1, h2, h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Hind Madurai', sans-serif;
}

.pagination {
  ul {
    list-style: none;
    li {
      display: inline-block;
      min-width: 40px;
      height: 40px;
      line-height: 30px;
      padding: 5px;
      margin: 0 5px;
      border: 1px solid #c3c3c3;
      text-align: center;
      font-size: 18px;
      &.back-page{
        padding-left: 15px;
      }
      &.current-page {
        border: 1px solid #000;
      }
      &.next-page{
        padding-right: 15px
      }
    }
  }
}

.modal-dialog {
  @media (min-width: 768px){
    width: 800px;
  }
}


// == header
header {
  height: 500px;
  background: url(../images/background-fosco.jpg);
  background-size: auto 500px;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  .parallax-back {
    width: 100%;
    height: 800px;
    background: url(../images/p-back.png);
    background-size: auto 500px;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    z-index: 99;
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    top: 70px;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .parallax-front {
    width: 100%;
    height: 800px;
    background: url(../images/p-front.png);
    background-size: auto 500px;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    z-index: 1000;
  }

}// end header

// == Main Page
.page-main {
  background: rgb(246, 246, 246);
  min-height: 100vh;
  .content-shot {
    min-height: 250px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    // Sombras
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);

    &:hover {
      transition: 0.6s;
      -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
      -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
      box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
    }

    .shot-description {
      height: 0;
      background: rgba(38, 35, 52, 0.8);
      color: #fff;
      padding: 0 15px 15px 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      //display: none;

      h3 {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 40px;
        position: relative;
        border-bottom: 1px solid rgba(255,255,255,0.3);
      }
      .shot-infos{
        display: block;
        position: relative;
        width: 100%;
        strong {
          font-size: 17px;
          font-weight: 400;
          padding: 10px 5px;
          .glyphicon {
            margin-right: 5px;
          }
        }
        .btn-info {
          display: block;
          background: rgba(255,255,255,0.1);
          margin-top: 35px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid #fff;
          font-size: 17px;

        }

      }
      &.show-animate {
        transition: 1s;
        height: 100%;
        opacity: 1;
      }


    }
  }
}
