$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


// == Default
h1, h2, h3 {

}

// == header
header {
  height: 500px;
  background: url(../images/background-fosco.jpg);
  background-size: auto 500px;
  background-position: center top;
  background-attachment: fixed;
  position: relative;

  .logo{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 70px;

    img{
      display: block;
      margin: 0 auto;
    }
  }

}// end header

// == Main Page
