<!--
  * @View: Main View
  * @Use: app/app.js
  * @Controller: MainCtrl
-->

<!-- BEGIN: page-main -->
<div class="col-sm-12 page-main">
    <!-- BEGIN: Titulo pagina -->
    <h1>MELHORES SHOTS <small>Página {{ main.links.next-1 == 1 ? 'Inicial' : main.links.next-1 }}</small></h1>
    <hr></hr>
    <!-- END: Titulo pagina -->

    <!-- BEGIN: Shots -->
    <article class="col-sm-6 col-md-4" ng-repeat="shot in main.shots">
      <div class="content-shot">
        <img class="img-responsive" src="{{ shot.images.normal }}" alt="{{ shot.title }}">
        <!-- BEGIN: shot-description -->
        <div class="shot-description">
          <h3>{{ shot.title }} </br>
              <small>Criado em {{ shot.created_at | date : format : timezone }} por {{ shot.user.name }}</small>
          </h3>
          <!-- BEGIN: shot-infos -->
          <div class="shot-infos">
            <strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ shot.likes_count }}</strong>
            <strong><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{ shot.comments_count }}</strong>
            <strong><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>{{ shot.views_count }}</strong>
            <button class="btn btn-info" ng-click="main.openModal(shot.id)">Mais informações <span class="glyphicon glyphicon-share-alt"></span></button>
          </div>
          <!-- END: shot-infos -->
        </div>
        <!-- END: shot-description -->
      </div>
    </article>
    <!-- END: Shots -->

    <!-- BEGIN: Pagination -->
    <nav class="col-sm-12 pagination">
      <ul>
        <li ng-show="{{ main.links.back }}" class="back-page"><a ng-href="?id={{ main.links.back }}"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a></li>
        <li class="current-page"><a ng-href="?id={{ main.links.next-1 }}">{{ main.links.next-1 }}</a></li>
        <li ng-repeat="i in [0,1,2,3]"><a ng-href="?id={{ main.links.next+i }}">{{ main.links.next+i }}</a></li>
        <li class="next-page"><a ng-href="?id={{ main.links.next+4 }}">Próximas <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </nav>
    <!-- END: Pagination -->
</div>

<info-modal></info-modal>
